@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: 0;
}

a {
    text-decoration: none;
}

#logo {
    width: 300px;
}

/* Header */
.announcement-bar { /* Ensures Full Width of the announcement bar */
    width: 100%;
    background: #50869a;
    text-align: center;
    padding: 10px 0;
}

.announcement-bar a { /* Ensures Full Width of the announcement bar */
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

/* Add underline border on hover */
.announcement-bar a:hover {
    border-bottom-color: #ffffff; /* Change to example text color on hover */
}

/* Navigation */
nav {
    position: relative;
    z-index: 10;
}

nav ul { /* Flexbox for nav elements */
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #000000;
    align-items: center;
}

nav ul li { /* Styling for nav items */
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    font-weight: bold;
    transition: border-bottom-color 0.3s ease;
}

/* Add underline border on hover except for the img logo */
nav ul li a:not(:has(img)):hover {
    text-decoration: underline; /* Underline on hover */
}

nav ul li a:hover {
    color: #eecf9b;
}

.menu-icon {
    display: none;
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 5px;
    color: #2abae1;
}

/* Footer: Top Footer */
.top-footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.top-footer h1 {
    margin: 0;
    font-size: 2rem;
}

.top-footer p {
    margin: 10px 0;
    font-size: 1rem;
}

.top-footer .input-container {
    margin: 20px 0;
}

.top-footer input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.top-footer button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: #4cb2bd;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top-footer button:hover {
    background: #fff;
    color: #4cb2bd;
}

.top-footer .terms {
    font-size: 12px;
    margin-top: 20px;
}

.top-footer .terms a {
    color: #fff;
    border-bottom: 1px solid white;
    cursor: pointer;
}

/* Quiz Footer */
.quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #50869a;
    color: #fff;
    padding: 20px;
    border-bottom: 1px solid rgb(205, 203, 203);
}

.quiz-footer .logo {
    display: flex;
    align-items: center;
}

.quiz-footer .logo img {
    max-height: 100px;
}

.quiz-footer .quiz-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quiz-footer .quiz-buttons a {
    padding: 10px 20px;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.quiz-footer .quiz-buttons .quiz-btn {
    background: #fff;
}

.quiz-footer .quiz-buttons .shop-btn {
    background: #abd6e6;
}

.quiz-footer .quiz-buttons .quiz-btn:hover, 
.quiz-footer .quiz-buttons .shop-btn:hover {
    color: #104b5c;
}

/* Mid Footer */
.mid-footer {
    background: #50869a;
    color: #fff;
    padding: 40px 20px;
    border-bottom: 1px solid rgb(205, 203, 203);
}

.mid-footer .mid-footer-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.mid-footer .mid-footer-column {
    flex: 1;
    min-width: 150px;
}

.mid-footer h3 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.mid-footer ul {
    list-style: none;
    padding: 0;
}

.mid-footer ul li {
    margin-bottom: 10px;
}

.mid-footer ul li a {
    color: #fff;
    font-size: 1rem;
}

.mid-footer ul li a:hover {
    text-decoration: underline;
}

/* Social Footer */
.social-footer {
    background: #50869a;
    color: #fff;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.social-footer .social-item {
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.social-footer .social-item i {
    font-size: 3rem;
    text-align: center;
}

.social-footer .social-item .fa-youtube:hover {
    color: #FF0000;
}

.social-footer .social-item .fa-instagram:hover {
    color: #C13584;
}

.social-footer .social-item .fa-x-twitter:hover {
    color: #14171A;
}

.social-footer .social-item .fa-tiktok:hover {
    color: #ff0050;
}

/* Bottom Footer */
.bottom-footer {
    background: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.bottom-footer p {
    margin: 10px 0;
    font-size: 1rem;
}

.bottom-footer .bottom-footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.bottom-footer .bottom-footer-links a {
    color: #fff;
    font-size: .8rem;
}

.bottom-footer .bottom-footer-links a:hover {
    text-decoration: underline;
}

.bottom-footer #metizen-tag {
    margin: 10px 0;
    font-size: .8rem;
    color: #fff;
}

.bottom-footer #metizen-tag #metizen-highlight {
    text-decoration: underline;
    color: #f2bf68;
    cursor: pointer;
}

.bottom-footer #metizen-tag #metizen-highlight:hover {
    text-decoration: none;
    color: #fff;
}

/* Banner Section */
.banner-section {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background: url(../../Assets/img/psi_img_002.jpg) no-repeat center center/cover;
    align-items: center;
    color: #fff;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1; /* Ensures overlay is above the background Image*/
}

.banner-content {
    position: relative;
    max-width: 800px;
    padding: 20px;
    z-index: 2;
    margin-left: 50px;
}

.banner-content h1 {
    font-size: 4rem;
    margin: 0 0 10px;
    color:#4cb2bd;
}

.banner-content p {
    font-size: 1.5rem;
    margin: 0 0 20px;
}

.banner-content .banner-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.banner-content .banner-buttons a {
    padding: 15px 30px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid white;
}

.banner-content .banner-buttons .quiz-btn {
    background: #00ddff;
    border: none;
}

.banner-content .banner-buttons .shop-btn {
    background: transparent;
}

.banner-content .banner-buttons .quiz-btn:hover {
    background: #03616f;
}

.banner-content .banner-buttons .shop-btn:hover {
    background: #fff;
    color: #00ddff;
}

/* Category Section */
.category-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
}

.category {
    position: relative;
    overflow: hidden;
}

.category img {
    width: 100%;
    height: auto;
    display: block;
}

.category-content {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.category-content h2 {
    margin: 0;
}

.category-content a {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background: rgb(36, 190, 217);
    color: #fff;
    font-weight: bold;
}

.category-content a:hover {
    background: #fff;
    color: #00ddff;
}

/* Contact Form */

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    color: #000000;
}

.contact-container h1 {
    text-align: center;
}

.contact-order {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.track-order button, .return-order button {
    padding: 50px 100px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 5px;
}

.track-order button:hover, .return-order button:hover {
    background: #000000;
    color: #ffffff;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background: rgb(35, 158, 196);
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.file-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Media Queries */

@media(max-width: 1280px) {
    nav ul {
        display: none;
        flex-direction: column;
        background: #afacac;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        padding: 10px 0;
        text-align: left;
        z-index: 5; /* Ensure nav is above other content */
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        text-align: left;
        padding: 10px;
    }

    nav ul li a {
        font-size: 1.5rem;
    }

    nav ul li a img {
        display: none; /* Hide the logo image */
    }

    nav ul li:nth-child(5) {
        position: relative;
        top: -43px; /* Shift up 5px */
    }

    nav ul li:nth-child(6) {
        position: relative;
        top: -43px; /* Shift up 5px */
    }

    nav ul li:nth-child(7) {
        position: relative;
        top: -43px; /* Shift up 5px */
    }

    .menu-icon {
        display: block;
    }
}

@media(min-width: 768px) {
    .top-footer input[type="text"] {
        width: 300px;
    }
    .top-footer button {
        width: auto;
        padding: 10px 20px;
    }
}

@media(max-width: 768px) {
    .menu-icon {
        right: 25px;
    }
    .quiz-footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .quiz-footer .quiz-buttons {
        flex-direction: column;
        gap: 10px;
    }
    .quiz-footer .logo img {
        max-height: 50px;
    }
    .mid-footer {
        text-align: center;
    }
    .mid-footer .mid-footer-section {
        flex-direction: column;
        align-items: center;
    }
    .mid-footer .mid-footer-column {
        min-width: 100%;
    }
    .social-footer {
        flex-direction: column;
        align-items: center;
    }
    .social-footer .social-item {
        width: 100%;
        justify-content: center;
    }
    .banner-section {
        height: auto;
        justify-content: center;
    }
    .banner-content {
        max-width: 600px;
        margin-left: 0;
        text-align: center;
    }
    .banner-content h1 {
        font-size: 36px;
    }
    .banner-content p {
        font-size: 16px;
    }
    .banner-content .banner-buttons {
        justify-content: center;
    }
    .banner-content .banner-buttons a {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media (max-width: 912px) {
    .category-section {
        grid-template-columns: 1fr;
    }
}

@media(max-width:665px) {
    .contact-order {
        flex-direction: column;
        align-items: center;
    }
    .track-order button, .return-order button {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media(max-width:560px) {
    .menu-icon {
        right: 10px;
    }
}